<template>
<footer class="footer">
  <span class="footer__author">
    Дмитрий Герасимов
  </span>
  <span class="footer__copyright">
    © 2021 All rights reserved.
  </span>
</footer>
</template>

<script>
export default {
name: "Footer"
}
</script>

<style scoped>

</style>