<template>
  <div class="nav__block">
    <router-link to="/" class="nav__home">
      <a href="#" class="">
        <svg class="symbol__home">
          <use xlink:href="#home"></use>
        </svg>
      </a>
    </router-link>
    <nav class="nav" v-show="!isMenu">
      <router-link to="/portfolio" class="nav__link">
        <span :class="{'active__nav':activePortfolio}">Портфолио</span>
      </router-link>

      <router-link to="/contact" class="nav__link">
        <span :class="{'active__nav':activeContact}">Контакты</span>
      </router-link>
    </nav>
    <a href="https://t.me/dmitrymoonchop" target="_blank" class="nav__telegram" v-show="!isMenu">
      <span class="nav__telegram-text">Написать</span>
      <span class="nav__telegram-circle">
      <svg class="symbol__telegram">
        <use xlink:href="#telegram"></use>
      </svg>
    </span>
    </a>
    <a href="#" class="nav__menu" @click.prevent="clickMenu" v-show="isMenu">
      <svg class="symbol__menu">
        <use xlink:href="#menu"></use>
      </svg>
    </a>

    <div class="nav_mobile-menu" :class="{'active__menu': activeMenu}" v-show="isMenu">
      <router-link to="/portfolio" class="nav__mobile-link notext-decoration">
        <span :class="{'active__nav':activePortfolio}">Портфолио</span>
      </router-link>
      <router-link to="/contact" class="nav__mobile-link notext-decoration">
        <span :class="{'active__nav':activeContact}">Контакты</span>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Nav",
  data: () => ({}),
  computed: {
    isMenu() {
      return this.$store.state.isMenu
    },
    activeMenu() {
      return this.$store.state.isActiveMenu
    },
    activePortfolio() {
      return this.$store.state.activePortfolio
    },
    activeContact() {
      return this.$store.state.activeContact
    }
  },
  methods: {
    clickMenu() {
      this.$store.commit('activateMenu')
    },
  },
  mounted() {
    this.$store.commit('onWindowWidth', window.innerWidth)
  }
}
</script>

<style scoped>

</style>