<template>
  <div class="d" v-if="showPreloader">
    <div class="preloader" >
      <div class="load">
      </div>
    </div>
    <div class="loader__photo">
      <img src="@/assets/images/finalFace.png" class="loader__avatar" alt="">
    </div>
  </div>
</template>

<script>
export default {
  name: "Preloader",
  data: () => ({
    show: true
  }),
  computed: {
    showPreloader() {
      return this.$store.state.showPreloader
    }
  },
  methods: {},
  mounted() {
  }
}
</script>

<style scoped>

</style>