<template>
  <svg style="display: none">
    <symbol id="eyeglasses" viewBox="0 0 24 24">
      <g>
        <path
            d="M23.6 11.2H22.728C22.3476 8.9336 20.388 7.2 18.0288 7.2C15.7 7.2 13.7504 8.8476 13.2988 11.0316C12.9104 10.706 12.4672 10.5332 12 10.5332C11.5332 10.5332 11.0904 10.706 10.702 11.0312C10.2556 8.8472 8.33 7.2 6.0288 7.2C3.5024 7.2 1.426 9.1404 1.2204 11.6H0.4C0.1788 11.6 0 11.7792 0 12C0 12.2208 0.1788 12.4 0.4 12.4H1.2204C1.426 14.8596 3.5024 16.8 6.0288 16.8C8.6156 16.8 10.7232 14.7172 10.7932 12.1316C11.1344 11.6176 11.5592 11.3332 12 11.3332C12.4408 11.3332 12.8656 11.618 13.2068 12.1316C13.278 14.7172 15.4112 16.8 18.0288 16.8C20.6596 16.8 22.8 14.6468 22.8 12H23.6C23.8212 12 24 11.8208 24 11.6C24 11.3792 23.8212 11.2 23.6 11.2ZM6.0288 16C3.8076 16 2 14.2056 2 12C2 9.7944 3.8076 8 6.0288 8C8.256 8 10 9.7572 10 12C10 14.2428 8.256 16 6.0288 16ZM18.0288 16C15.8076 16 14 14.2056 14 12C14 9.7944 15.8076 8 18.0288 8C20.256 8 22 9.7572 22 12C22 14.2428 20.256 16 18.0288 16Z"
            fill="black"/>
      </g>
    </symbol>

    <symbol id="home" viewBox="0 0 24 25">
      <g>
        <g clip-path="url(#clip0)">
          <path
              d="M23.1082 11.176L12.794 0.955418C12.3413 0.506737 11.6586 0.506786 11.206 0.955369L0.891784 11.1761C0.529132 11.5354 0.40934 12.0891 0.586513 12.5866C0.763731 13.0842 1.19521 13.4056 1.68583 13.4056H3.33319V23.6459C3.33319 24.0519 3.6359 24.3811 4.00924 24.3811H9.66269C10.036 24.3811 10.3387 24.0519 10.3387 23.6459V17.4283H13.6614V23.6459C13.6614 24.0519 13.9641 24.3811 14.3374 24.3811H19.9906C20.364 24.3811 20.6667 24.052 20.6667 23.6459V13.4056H22.3143C22.8049 13.4056 23.2364 13.0841 23.4137 12.5866C23.5906 12.0891 23.4708 11.5354 23.1082 11.176Z"
              fill="black"/>
          <path d="M20.4901 2.08642H15.9499L21.1661 7.24442V2.82157C21.1661 2.41557 20.8635 2.08642 20.4901 2.08642Z"
                fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0">
            <path
                d="M0.505737 10C0.505737 4.47715 4.98289 0 10.5057 0H23.4942V25H10.5057C4.98289 25 0.505737 20.5228 0.505737 15V10Z"
                fill="white"/>
          </clipPath>
        </defs>
      </g>
    </symbol>

    <symbol id="telegram" viewBox="0 0 12 12">
      <g>
        <g clip-path="url(#clip0)">
          <path
              d="M4.70847 7.5905L4.50997 10.3825C4.79397 10.3825 4.91697 10.2605 5.06447 10.114L6.39597 8.8415L9.15497 10.862C9.66097 11.144 10.0175 10.9955 10.154 10.3965L11.965 1.9105L11.9655 1.91C12.126 1.162 11.695 0.869504 11.202 1.053L0.556967 5.1285C-0.169533 5.4105 -0.158533 5.8155 0.433467 5.999L3.15497 6.8455L9.47647 2.89C9.77397 2.693 10.0445 2.802 9.82197 2.999L4.70847 7.5905Z"
              fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="12" height="12" fill="white"/>
          </clipPath>
        </defs>
      </g>
    </symbol>

    <symbol id="frontend" viewBox="0 0 40 40">
      <g>
        <g clip-path="url(#clip0)">
          <path
              d="M39.2188 0.80069H0.781247C0.349764 0.80069 0 1.15053 0 1.58194V9.61777C0 10.0492 0.349764 10.399 0.781247 10.399H39.2188C39.6502 10.399 40 10.0492 40 9.61777V1.58194C40 1.15053 39.6502 0.80069 39.2188 0.80069ZM38.4375 8.83652H1.56249V2.36318H38.4375V8.83652Z"
              fill="black"/>
          <path
              d="M36.6725 7.062L36.0345 6.42396C36.2086 6.07959 36.3013 5.69693 36.3013 5.2999C36.3013 4.63326 36.0417 4.00639 35.5703 3.53499C34.5972 2.56194 33.0138 2.56187 32.0406 3.53499C31.5692 4.00639 31.3096 4.63326 31.3096 5.2999C31.3096 5.96654 31.5693 6.59341 32.0406 7.06474C32.5121 7.53614 33.1389 7.79575 33.8056 7.79575C34.2027 7.79575 34.5853 7.70294 34.9296 7.52888L35.5677 8.16692C35.7202 8.31942 35.9202 8.39575 36.1201 8.39575C36.32 8.39575 36.52 8.31942 36.6725 8.16692C36.9776 7.86185 36.9776 7.36716 36.6725 7.062ZM34.4656 5.95982C34.2893 6.13615 34.0549 6.23326 33.8056 6.23326C33.5562 6.23326 33.3219 6.13615 33.1456 5.95982C32.9693 5.78349 32.8721 5.5492 32.8721 5.2999C32.8721 5.05061 32.9693 4.81615 33.1456 4.6399C33.3275 4.45795 33.5666 4.36702 33.8056 4.36702C34.0445 4.36702 34.2836 4.45795 34.4656 4.6399C34.6418 4.81623 34.739 5.05061 34.739 5.2999C34.739 5.5492 34.6419 5.78357 34.4656 5.95982Z"
              fill="black"/>
          <path
              d="M27.9953 6.86176C27.9851 6.81168 27.9703 6.76246 27.9507 6.71567C27.9312 6.66871 27.907 6.6227 27.8789 6.58051C27.8507 6.53832 27.8179 6.4977 27.782 6.46176C27.746 6.42582 27.7062 6.39301 27.6632 6.36489C27.621 6.33676 27.5757 6.31254 27.5281 6.29301C27.4812 6.27348 27.432 6.25864 27.382 6.24848C27.2812 6.22817 27.1773 6.22817 27.0765 6.24848C27.0265 6.25864 26.9773 6.27348 26.9304 6.29301C26.8836 6.31254 26.8382 6.33676 26.7961 6.36489C26.7531 6.39301 26.7132 6.42582 26.6765 6.46176C26.6406 6.4977 26.6086 6.53824 26.5796 6.58051C26.5515 6.6227 26.5273 6.66879 26.5078 6.71567C26.4882 6.76254 26.4734 6.81168 26.4632 6.86176C26.4531 6.91246 26.4484 6.96332 26.4484 7.01488C26.4484 7.06559 26.4531 7.11644 26.4632 7.16723C26.4734 7.21722 26.4882 7.26644 26.5078 7.31324C26.5273 7.36019 26.5515 7.40551 26.5796 7.4484C26.6086 7.49058 26.6406 7.53121 26.6765 7.56715C26.7132 7.60308 26.7531 7.63597 26.7961 7.66402C26.8382 7.69214 26.8836 7.71636 26.9304 7.73589C26.9781 7.75543 27.0273 7.77027 27.0765 7.78043C27.1273 7.79058 27.1789 7.79527 27.2296 7.79527C27.2804 7.79527 27.332 7.7905 27.382 7.78043C27.432 7.77035 27.4812 7.75543 27.5281 7.73589C27.575 7.71636 27.621 7.69214 27.6632 7.66402C27.7062 7.63597 27.746 7.60308 27.782 7.56715C27.9273 7.42113 28.0109 7.22035 28.0109 7.01488C28.0109 6.96332 28.0054 6.91246 27.9953 6.86176Z"
              fill="black"/>
          <path
              d="M24.2676 6.23325H8.03076C7.59928 6.23325 7.24951 6.58309 7.24951 7.01449C7.24951 7.4459 7.59928 7.79574 8.03076 7.79574H24.2676C24.6991 7.79574 25.0489 7.4459 25.0489 7.01449C25.0489 6.58309 24.6991 6.23325 24.2676 6.23325Z"
              fill="black"/>
          <path
              d="M24.5953 11.5128H0.873532C0.442049 11.5128 0.0922852 11.8626 0.0922852 12.294V27.7001C0.0922852 28.1316 0.442049 28.4814 0.873532 28.4814H24.5953C25.0268 28.4814 25.3766 28.1315 25.3766 27.7001V12.294C25.3766 11.8626 25.0268 11.5128 24.5953 11.5128ZM9.51608 26.9188H2.88477L7.35077 21.748L10.5851 25.4933L9.51608 26.9188ZM11.4692 26.9188L12.9259 24.9765H16.7141C17.1456 24.9765 17.4953 24.6267 17.4953 24.1953C17.4953 23.7639 17.1456 23.414 16.7141 23.414H14.0979L14.646 22.6833H19.5513L22.7283 26.9188H11.4692ZM15.8178 21.1208L17.0986 19.413L18.3795 21.1208H15.8178ZM23.8141 25.7624L17.7236 17.6421C17.576 17.4454 17.3445 17.3296 17.0986 17.3296C16.8528 17.3296 16.6212 17.4454 16.4736 17.6421L11.5447 24.2139L7.9421 20.042C7.79374 19.8702 7.57788 19.7714 7.35085 19.7714C7.12382 19.7714 6.90804 19.8702 6.7596 20.042L1.65478 25.9524V13.0753H23.8141V25.7624Z"
              fill="black"/>
          <path
              d="M10.7537 13.9723C9.23074 13.9723 7.99176 15.2113 7.99176 16.7342C7.99176 18.2572 9.23082 19.4962 10.7537 19.4962C12.2767 19.4962 13.5156 18.2572 13.5156 16.7342C13.5156 15.2113 12.2767 13.9723 10.7537 13.9723ZM10.7537 17.9338C10.0923 17.9338 9.55425 17.3957 9.55425 16.7343C9.55425 16.0729 10.0924 15.5349 10.7537 15.5349C11.415 15.5349 11.9532 16.0729 11.9532 16.7343C11.9532 17.3957 11.4151 17.9338 10.7537 17.9338Z"
              fill="black"/>
          <path
              d="M39.2188 11.5128H27.2118C26.7803 11.5128 26.4305 11.8626 26.4305 12.294V27.7001C26.4305 28.1315 26.7803 28.4814 27.2118 28.4814H39.2188C39.6503 28.4814 40 28.1315 40 27.7001V12.294C40 11.8626 39.6503 11.5128 39.2188 11.5128ZM38.4375 26.9189H27.993V13.0753H38.4375V26.9189Z"
              fill="black"/>
          <path
              d="M36.6185 14.362H29.812C29.3805 14.362 29.0308 14.7119 29.0308 15.1433C29.0308 15.5747 29.3805 15.9245 29.812 15.9245H36.6185C37.05 15.9245 37.3998 15.5747 37.3998 15.1433C37.3998 14.7119 37.05 14.362 36.6185 14.362Z"
              fill="black"/>
          <path
              d="M36.6185 17.4975H29.812C29.3805 17.4975 29.0308 17.8473 29.0308 18.2787C29.0308 18.7101 29.3805 19.06 29.812 19.06H36.6185C37.05 19.06 37.3998 18.7101 37.3998 18.2787C37.3998 17.8473 37.05 17.4975 36.6185 17.4975Z"
              fill="black"/>
          <path
              d="M36.6185 20.633H29.812C29.3805 20.633 29.0308 20.9828 29.0308 21.4142C29.0308 21.8456 29.3805 22.1955 29.812 22.1955H36.6185C37.05 22.1955 37.3998 21.8456 37.3998 21.4142C37.3998 20.9828 37.05 20.633 36.6185 20.633Z"
              fill="black"/>
          <path
              d="M30.5781 24.3969C30.5679 24.3468 30.5531 24.2976 30.5335 24.2508C30.514 24.2038 30.4898 24.1585 30.4617 24.1156C30.4328 24.0734 30.4007 24.0328 30.364 23.9969C30.1828 23.8156 29.9132 23.7319 29.6593 23.7836C29.6093 23.7937 29.5601 23.8086 29.5132 23.8281C29.4664 23.8476 29.421 23.8719 29.3781 23.9C29.3359 23.9281 29.2953 23.9609 29.2593 23.9969C29.2234 24.0328 29.1906 24.0733 29.1625 24.1156C29.1343 24.1586 29.1101 24.2039 29.0906 24.2508C29.0711 24.2976 29.0562 24.3468 29.046 24.3969C29.0359 24.4476 29.0304 24.4984 29.0304 24.5491C29.0304 24.6007 29.0359 24.6515 29.046 24.7022C29.0562 24.7523 29.0711 24.8015 29.0906 24.8484C29.1101 24.8954 29.1343 24.9407 29.1625 24.9836C29.1906 25.0258 29.2234 25.0664 29.2593 25.1023C29.2953 25.1383 29.3359 25.1711 29.3781 25.1992C29.421 25.2273 29.4664 25.2515 29.5132 25.2711C29.5601 25.2906 29.6093 25.3054 29.6593 25.3156C29.7101 25.3258 29.7609 25.3312 29.8125 25.3312C30.0179 25.3312 30.2187 25.2476 30.364 25.1022C30.4 25.0663 30.4328 25.0258 30.4617 24.9835C30.4898 24.9405 30.514 24.8952 30.5335 24.8483C30.5531 24.8015 30.5679 24.7523 30.5781 24.7022C30.5882 24.6515 30.5929 24.6007 30.5929 24.5491C30.5929 24.4984 30.5882 24.4476 30.5781 24.3969Z"
              fill="black"/>
          <path
              d="M36.6185 23.7683H32.7737C32.3422 23.7683 31.9925 24.1182 31.9925 24.5496C31.9925 24.981 32.3422 25.3308 32.7737 25.3308H36.6185C37.05 25.3308 37.3998 24.981 37.3998 24.5496C37.3998 24.1182 37.05 23.7683 36.6185 23.7683Z"
              fill="black"/>
          <path
              d="M12.8805 29.5898H0.873532C0.442049 29.5898 0.0922852 29.9397 0.0922852 30.3711V38.4181C0.0922852 38.8495 0.442049 39.1993 0.873532 39.1993H12.8805C13.312 39.1993 13.6618 38.8495 13.6618 38.4181V30.3711C13.6618 29.9397 13.312 29.5898 12.8805 29.5898ZM12.0993 37.6368H1.65478V31.1523H12.0993V37.6368Z"
              fill="black"/>
          <path
              d="M39.2188 29.5898H15.6037C15.1722 29.5898 14.8224 29.9397 14.8224 30.3711V38.4181C14.8224 38.8495 15.1722 39.1993 15.6037 39.1993H39.2188C39.6502 39.1993 40 38.8495 40 38.4181V30.3711C40 29.9397 39.6502 29.5898 39.2188 29.5898ZM38.4375 37.6368H16.3849V31.1523H38.4375V37.6368Z"
              fill="black"/>
          <path
              d="M19.9438 34.2422C19.9336 34.1923 19.9188 34.143 19.8992 34.0961C19.8797 34.0485 19.8555 34.0032 19.8273 33.961C19.7992 33.918 19.7664 33.8781 19.7305 33.8422C19.6945 33.8063 19.6547 33.7735 19.6117 33.7453C19.5695 33.7173 19.5242 33.693 19.4766 33.6735C19.4297 33.6539 19.3805 33.6383 19.3305 33.6281C19.2297 33.6086 19.1258 33.6086 19.025 33.6281C18.9758 33.6383 18.9266 33.6539 18.8789 33.6735C18.832 33.693 18.7867 33.7173 18.7445 33.7453C18.7016 33.7735 18.6617 33.8063 18.6258 33.8422C18.5898 33.8781 18.557 33.918 18.5281 33.961C18.5 34.0032 18.4758 34.0485 18.4563 34.0961C18.4367 34.1431 18.4219 34.1922 18.4117 34.2422C18.4016 34.2922 18.3969 34.3438 18.3969 34.3946C18.3969 34.4453 18.4016 34.4969 18.4117 34.5469C18.4219 34.5968 18.4367 34.646 18.4563 34.6937C18.4758 34.7406 18.5 34.7859 18.5281 34.8281C18.557 34.871 18.5898 34.9109 18.6258 34.9468C18.7711 35.0921 18.9727 35.1758 19.1781 35.1758C19.2289 35.1758 19.2805 35.171 19.3305 35.161C19.3805 35.1508 19.4297 35.1352 19.4766 35.1156C19.5242 35.0961 19.5695 35.0727 19.6117 35.0438C19.6547 35.0157 19.6945 34.9829 19.7305 34.9469C19.7664 34.911 19.7992 34.8711 19.8273 34.8281C19.8555 34.786 19.8797 34.7406 19.8992 34.6938C19.9188 34.6461 19.9336 34.5969 19.9438 34.5469C19.9539 34.4968 19.9594 34.4453 19.9594 34.3946C19.9594 34.3438 19.9539 34.2921 19.9438 34.2422Z"
              fill="black"/>
          <path
              d="M35.2592 33.6133H22.1397C21.7082 33.6133 21.3584 33.9632 21.3584 34.3946C21.3584 34.826 21.7082 35.1758 22.1397 35.1758H35.2592C35.6906 35.1758 36.0404 34.826 36.0404 34.3946C36.0404 33.9632 35.6906 33.6133 35.2592 33.6133Z"
              fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="40" height="40" fill="white"/>
          </clipPath>
        </defs>
      </g>
    </symbol>

    <symbol id="data" viewBox="0 0 40 40">
      <g>
        <g clip-path="url(#clip0)">
          <path
              d="M30.3334 0H3.66666C1.82665 0.00216668 0.33548 1.49334 0.333313 3.33335V24.6668C0.333146 26.1872 1.36182 27.5149 2.83399 27.8948L3.16733 26.6041C2.28374 26.3763 1.66632 25.5793 1.66665 24.6668V3.33335C1.66665 2.22876 2.56207 1.33334 3.66666 1.33334H30.3334C31.438 1.33334 32.3335 2.22876 32.3335 3.33335V4.00002H33.6668V3.33335C33.6646 1.49334 32.1734 0.00216668 30.3334 0Z"
              fill="black"/>
          <path d="M4.33334 2.66669H3V4.00003H4.33334V2.66669Z" fill="black"/>
          <path d="M7.00003 2.66669H5.66669V4.00003H7.00003V2.66669Z" fill="black"/>
          <path d="M9.66671 2.66669H8.33337V4.00003H9.66671V2.66669Z" fill="black"/>
          <path
              d="M39.4715 36.8622L33.1482 30.5388C33.4803 29.9459 33.746 29.318 33.9402 28.6668H35.0002V27.3335H34.2268C34.4779 25.7197 34.2843 24.068 33.6668 22.5561V16.0001H32.3335V20.2454C31.9376 19.7397 31.4908 19.2759 31.0002 18.8614V13.3334H29.6668V17.9294C29.2401 17.6821 28.7942 17.4692 28.3335 17.2927V10.6667H27.0001V16.8881C26.5608 16.7932 26.1152 16.7307 25.6668 16.7007V12.0001H24.3335V16.7007C23.885 16.7307 23.4395 16.7932 23.0001 16.8881V14.6667H21.6668V17.2927C21.2061 17.4692 20.7603 17.6821 20.3335 17.9294V14.0001H19.0001V18.8614C18.5094 19.2759 18.0627 19.7397 17.6668 20.2454V15.3334H16.3334V22.5561C15.7159 24.068 15.5223 25.7197 15.7734 27.3335H7.00006V28.6668H16.0601C17.5223 33.5986 22.7056 36.4113 27.6374 34.9492C28.6092 34.661 29.5276 34.2162 30.3562 33.6321L36.5289 39.8048C36.7892 40.0651 37.2112 40.0651 37.4715 39.8048L39.4715 37.8048C39.7318 37.5445 39.7318 37.1225 39.4715 36.8622ZM25.0001 34.0001C20.5838 33.9954 17.0049 30.4165 17.0001 26.0001C17.0001 21.5818 20.5819 18.0001 25.0001 18.0001C29.4184 18.0001 33.0002 21.5818 33.0002 26.0001C33.0002 30.4184 29.4184 34.0001 25.0001 34.0001ZM37.0002 38.3908L31.3922 32.7828C31.7555 32.4395 32.091 32.0679 32.3955 31.6715L38.0575 37.3335L37.0002 38.3908Z"
              fill="black"/>
          <path
              d="M25.0001 19.3334C21.3181 19.3334 18.3334 22.3182 18.3334 26.0001C18.3334 29.682 21.3181 32.6668 25.0001 32.6668C28.682 32.6668 31.6668 29.682 31.6668 26.0001C31.6628 22.3198 28.6803 19.3374 25.0001 19.3334ZM25.0001 31.3335C23.0971 31.331 21.3396 30.3148 20.388 28.6668H29.6121C28.6606 30.3148 26.9031 31.331 25.0001 31.3335ZM19.842 27.3334C19.3056 25.3034 20.0219 23.1484 21.6667 21.8434V26.0001H23.0001V21.0594C23.4276 20.8864 23.8758 20.7699 24.3334 20.7127V26.0001H25.6667V20.7127C26.1243 20.7699 26.5726 20.8864 27.0001 21.0594V26.0001H28.3334V21.8434C29.9783 23.1484 30.6945 25.3034 30.1581 27.3334H19.842Z"
              fill="black"/>
          <path
              d="M34.3335 5.33334H7.66672C5.82671 5.33551 4.33554 6.82668 4.33337 8.66669V30.0001C4.33554 31.8401 5.82671 33.3313 7.66672 33.3335H16.3334V32.0001H7.66672C6.56213 32.0001 5.66671 31.1047 5.66671 30.0001V8.66669C5.66671 7.5621 6.56213 6.66668 7.66672 6.66668H34.3335C35.4381 6.66668 36.3335 7.5621 36.3335 8.66669V30.0001C36.3334 30.4872 36.1557 30.9575 35.8335 31.3228L36.8335 32.2048C37.3708 31.5961 37.6672 30.812 37.6668 30.0001V8.66669C37.6647 6.82668 36.1735 5.33551 34.3335 5.33334Z"
              fill="black"/>
          <path d="M8.3334 8.00003H7.00006V9.33337H8.3334V8.00003Z" fill="black"/>
          <path d="M11 8.00003H9.66669V9.33337H11V8.00003Z" fill="black"/>
          <path d="M13.6667 8.00003H12.3334V9.33337H13.6667V8.00003Z" fill="black"/>
          <path d="M9.66671 22.0001H8.33337V26.0001H9.66671V22.0001Z" fill="black"/>
          <path d="M12.3334 18.0001H11.0001V26.0001H12.3334V18.0001Z" fill="black"/>
          <path d="M15 20.0001H13.6667V26.0001H15V20.0001Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="40" height="40" fill="white"/>
          </clipPath>
        </defs>
      </g>
    </symbol>

    <symbol id="backend" viewBox="0 0 40 40">
      <g>
        <path
            d="M37.5 0.625H10C8.96625 0.625 8.125 1.46625 8.125 2.5V11.875H3.75C2.02688 11.875 0.625 13.2769 0.625 15V30C0.625 31.7231 2.02688 33.125 3.75 33.125H9.7575L8.92438 35.625H6.875C5.84125 35.625 5 36.4663 5 37.5V39.375H23.75V37.5C23.75 36.4663 22.9088 35.625 21.875 35.625H19.8256L18.9925 33.125H25C26.7231 33.125 28.125 31.7231 28.125 30V29.375H37.5C38.5337 29.375 39.375 28.5338 39.375 27.5V2.5C39.375 1.46625 38.5337 0.625 37.5 0.625ZM10 1.875H37.5C37.8444 1.875 38.125 2.15562 38.125 2.5V5.625H9.375V2.5C9.375 2.15562 9.65563 1.875 10 1.875ZM3.75 13.125H25C26.0338 13.125 26.875 13.9663 26.875 15V26.875H1.875V15C1.875 13.9663 2.71625 13.125 3.75 13.125ZM28.125 16.875H35.625V25.625H28.125V16.875ZM22.5 37.5V38.125H6.25V37.5C6.25 37.1556 6.53062 36.875 6.875 36.875H21.875C22.2194 36.875 22.5 37.1556 22.5 37.5ZM18.5075 35.625H10.2425L11.0756 33.125H17.6744L18.5075 35.625ZM25 31.875H3.75C2.71625 31.875 1.875 31.0338 1.875 30V28.125H26.875V30C26.875 31.0338 26.0338 31.875 25 31.875ZM37.5 28.125H28.125V26.875H36.875V15.625H28.125V15C28.125 13.2769 26.7231 11.875 25 11.875H9.375V6.875H38.125V27.5C38.125 27.8444 37.8444 28.125 37.5 28.125Z"
            fill="black"/>
        <path d="M11.25 29.375H12.5V30.625H11.25V29.375Z" fill="black"/>
        <path d="M13.75 29.375H15V30.625H13.75V29.375Z" fill="black"/>
        <path d="M16.25 29.375H17.5V30.625H16.25V29.375Z" fill="black"/>
        <path d="M13.125 3.125H14.375V4.375H13.125V3.125Z" fill="black"/>
        <path d="M15.625 3.125H16.875V4.375H15.625V3.125Z" fill="black"/>
        <path d="M10.625 3.125H11.875V4.375H10.625V3.125Z" fill="black"/>
        <path d="M10.625 8.125H11.875V9.375H10.625V8.125Z" fill="black"/>
        <path d="M13.125 8.125H36.875V9.375H13.125V8.125Z" fill="black"/>
        <path d="M29.375 10.625H36.875V11.875H29.375V10.625Z" fill="black"/>
        <path d="M29.375 13.125H36.875V14.375H29.375V13.125Z" fill="black"/>
        <path
            d="M5 25.625H17.5C18.5337 25.625 19.375 24.7837 19.375 23.75V16.25C19.375 15.2162 18.5337 14.375 17.5 14.375H5C3.96625 14.375 3.125 15.2162 3.125 16.25V23.75C3.125 24.7837 3.96625 25.625 5 25.625ZM4.375 16.25C4.375 15.9056 4.65562 15.625 5 15.625H17.5C17.8444 15.625 18.125 15.9056 18.125 16.25V23.75C18.125 24.0944 17.8444 24.375 17.5 24.375H5C4.65562 24.375 4.375 24.0944 4.375 23.75V16.25Z"
            fill="black"/>
        <path d="M9.41077 23.5421L11.9089 16.0397L13.0952 16.4347L10.597 23.9371L9.41077 23.5421Z" fill="black"/>
        <path
            d="M14.1919 22.9419L17.1338 20L14.1919 17.0581L13.3082 17.9419L15.3663 20L13.3082 22.0581L14.1919 22.9419Z"
            fill="black"/>
        <path d="M9.1919 22.0581L7.13377 20L9.1919 17.9419L8.30815 17.0581L5.36627 20L8.30815 22.9419L9.1919 22.0581Z"
              fill="black"/>
        <path d="M20.625 14.375H25.625V15.625H20.625V14.375Z" fill="black"/>
        <path d="M20.625 16.875H25.625V18.125H20.625V16.875Z" fill="black"/>
        <path d="M20.625 19.375H25.625V20.625H20.625V19.375Z" fill="black"/>
        <path d="M20.625 21.875H25.625V23.125H20.625V21.875Z" fill="black"/>
        <path d="M21.875 24.375H23.125V25.625H21.875V24.375Z" fill="black"/>
        <path d="M24.375 24.375H25.625V25.625H24.375V24.375Z" fill="black"/>
      </g>
    </symbol>

    <symbol id="database" viewBox="0 0 40 40">
      <g>
        <g clip-path="url(#clip0)">
          <path
              d="M20 10C17.9533 10 0 9.86 0 5C0 0.14 17.9533 0 20 0C22.0467 0 40 0.14 40 5C40 9.86 22.0467 10 20 10ZM2.64667 5C3.86667 5.94667 9.72167 7.5 20 7.5C30.2783 7.5 36.1333 5.94667 37.3533 5C36.1333 4.05333 30.2783 2.5 20 2.5C9.72167 2.5 3.86667 4.05333 2.64667 5ZM37.545 5.19333H37.5617H37.545Z"
              fill="black"/>
          <path
              d="M20 20C17.9533 20 0 19.86 0 15C0 14.31 0.56 13.75 1.25 13.75C1.89167 13.75 2.42 14.2333 2.49167 14.8567C3.26167 15.7783 9.17833 17.5 20 17.5C30.8217 17.5 36.7383 15.7783 37.5083 14.8567C37.58 14.2333 38.1083 13.75 38.75 13.75C39.44 13.75 40 14.31 40 15C40 19.86 22.0467 20 20 20ZM37.5 14.9983C37.5 15 37.5 15 37.5 14.9983V14.9983ZM2.5 14.9983C2.5 15 2.5 15 2.5 14.9983V14.9983Z"
              fill="black"/>
          <path
              d="M20 30C17.9533 30 0 29.86 0 25C0 24.31 0.56 23.75 1.25 23.75C1.89167 23.75 2.42 24.2333 2.49167 24.8567C3.26167 25.7783 9.17833 27.5 20 27.5C30.8217 27.5 36.7383 25.7783 37.5083 24.8567C37.58 24.2333 38.1083 23.75 38.75 23.75C39.44 23.75 40 24.31 40 25C40 29.86 22.0467 30 20 30ZM37.5 24.9983C37.5 25 37.5 25 37.5 24.9983V24.9983ZM2.5 24.9983C2.5 25 2.5 25 2.5 24.9983V24.9983Z"
              fill="black"/>
          <path
              d="M20 40C17.9533 40 0 39.86 0 35V5C0 4.31 0.56 3.75 1.25 3.75C1.94 3.75 2.5 4.31 2.5 5V34.865C3.30167 35.7917 9.21667 37.5 20 37.5C30.7833 37.5 36.6983 35.7917 37.5 34.865V5C37.5 4.31 38.06 3.75 38.75 3.75C39.44 3.75 40 4.31 40 5V35C40 39.86 22.0467 40 20 40Z"
              fill="black"/>
          <path
              d="M8.33332 25C9.2538 25 9.99999 24.2538 9.99999 23.3334C9.99999 22.4129 9.2538 21.6667 8.33332 21.6667C7.41285 21.6667 6.66666 22.4129 6.66666 23.3334C6.66666 24.2538 7.41285 25 8.33332 25Z"
              fill="black"/>
          <path
              d="M8.33332 15C9.2538 15 9.99999 14.2538 9.99999 13.3333C9.99999 12.4128 9.2538 11.6666 8.33332 11.6666C7.41285 11.6666 6.66666 12.4128 6.66666 13.3333C6.66666 14.2538 7.41285 15 8.33332 15Z"
              fill="black"/>
          <path
              d="M8.33332 35C9.2538 35 9.99999 34.2538 9.99999 33.3334C9.99999 32.4129 9.2538 31.6667 8.33332 31.6667C7.41285 31.6667 6.66666 32.4129 6.66666 33.3334C6.66666 34.2538 7.41285 35 8.33332 35Z"
              fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="40" height="40" fill="white"/>
          </clipPath>
        </defs>
      </g>
    </symbol>

    <symbol id="tech" viewBox="0 0 512 512">
      <g>
        <g>
          <g>
            <circle cx="447.681" cy="89.554" r="40.603"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M469.22,145.904h-93.238l-57.735-39.177c-9.635-6.446-22.921-3.211-28.339,7.392h-37.599V43.854
			c0-4.176-3.385-7.562-7.562-7.562h-72.6v-25.47C172.146,4.846,167.3,0,161.323,0H62.933C56.956,0,52.11,4.846,52.11,10.823v66.064
			c0,5.977,4.846,10.823,10.823,10.823h98.391c5.977,0,10.823-4.846,10.823-10.823v-25.47h65.038v62.702h-41.633
			c-5.977,0-10.823,4.846-10.823,10.823v66.064c0,5.977,4.846,10.823,10.823,10.823h41.633v70.007h-99.891v-25.47
			c0-5.977-4.846-10.823-10.823-10.823H28.08c-5.977,0-10.823,4.846-10.823,10.823v66.064c0,5.977,4.846,10.823,10.823,10.823
			h46.825v56.329c0,4.176,3.385,7.562,7.562,7.562h86.198v25.47c0,5.977,4.846,10.823,10.823,10.823h98.391
			c5.977,0,10.823-4.846,10.823-10.823v-66.064c0-5.977-4.846-10.823-10.823-10.823h-98.391c-5.977,0-10.823,4.846-10.823,10.823
			v25.47H90.029v-48.767h36.442c5.977,0,10.823-4.846,10.823-10.823v-25.47h107.453c4.177,0,7.562-3.386,7.562-7.562v-77.569h41.633
			c5.977,0,10.823-4.846,10.823-10.823V144.85l54.148,36.232c3.083,2.063,6.69,3.911,10.398,4.005h27.647v47.128l18.376-10.188
			l18.846-54.064l-5.268,65.501l-55.332,30.557c-7.265,4.012-10.398,12.81-7.305,20.511c3.683,9.17,14.567,13.039,23.212,8.251
			l63.015-34.903c5.948-3.298,8.393-9.621,8.393-13.026l5.817-72.33l10.583,69.846c1.658,9.898-2.977,22.372-16.749,30.016
			c-23.658,13.133-63.588,34.419-63.588,34.419V489.93c-0.001,12.187,9.878,22.067,22.065,22.068c0.001,0,0.001,0,0.002,0
			c12.186,0,22.066-9.879,22.067-22.065V314.06h9.52v175.935c0.034,12.166,9.906,22.004,22.066,22.004h0.064
			c12.187-0.034,22.038-9.941,22.003-22.129V171.428C494.743,157.332,483.317,145.916,469.22,145.904z"/>
          </g>
        </g>
      </g>
    </symbol>

    <symbol id="menu" viewBox="0 0 512 512">
      <g>
        <g>
          <g>
            <path
                d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20
			C512,404.954,503.046,396,492,396z"/>
          </g>
        </g>
      </g>
    </symbol>

    <symbol id="close" viewBox="0 0 512.001 512.001">
      <g>
        <g>
          <g>
            <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"/>
          </g>
        </g>
      </g>
    </symbol>

    <symbol id="email" viewBox="0 0 479.058 479.058">
      <g>
        <path d="m434.146 59.882h-389.234c-24.766 0-44.912 20.146-44.912 44.912v269.47c0 24.766 20.146 44.912 44.912 44.912h389.234c24.766 0 44.912-20.146 44.912-44.912v-269.47c0-24.766-20.146-44.912-44.912-44.912zm0 29.941c2.034 0 3.969.422 5.738 1.159l-200.355 173.649-200.356-173.649c1.769-.736 3.704-1.159 5.738-1.159zm0 299.411h-389.234c-8.26 0-14.971-6.71-14.971-14.971v-251.648l199.778 173.141c2.822 2.441 6.316 3.655 9.81 3.655s6.988-1.213 9.81-3.655l199.778-173.141v251.649c-.001 8.26-6.711 14.97-14.971 14.97z"/>
      </g>
    </symbol>

    <symbol id="telegram_contact" viewBox="0 -39 512.00011 512">
      <g>
        <path d="m504.09375 11.859375c-6.253906-7.648437-15.621094-11.859375-26.378906-11.859375-5.847656 0-12.042969 1.230469-18.410156 3.664062l-433.398438 165.441407c-23 8.777343-26.097656 21.949219-25.8984375 29.019531s4.0390625 20.046875 27.4999995 27.511719c.140626.042969.28125.085937.421876.125l89.898437 25.726562 48.617187 139.023438c6.628907 18.953125 21.507813 30.726562 38.835938 30.726562 10.925781 0 21.671875-4.578125 31.078125-13.234375l55.605469-51.199218 80.652344 64.941406c.007812.007812.019531.011718.027343.019531l.765625.617187c.070313.054688.144532.113282.214844.167969 8.964844 6.953125 18.75 10.625 28.308594 10.628907h.003906c18.675781 0 33.546875-13.824219 37.878906-35.214844l71.011719-350.640625c2.851563-14.074219.460937-26.667969-6.734375-35.464844zm-356.191406 234.742187 173.441406-88.605468-107.996094 114.753906c-1.769531 1.878906-3.023437 4.179688-3.640625 6.683594l-20.824219 84.351562zm68.132812 139.332032c-.71875.660156-1.441406 1.25-2.164062 1.792968l19.320312-78.25 35.144532 28.300782zm265.390625-344.566406-71.011719 350.644531c-.683593 3.355469-2.867187 11.164062-8.480468 11.164062-2.773438 0-6.257813-1.511719-9.824219-4.257812l-91.390625-73.585938c-.011719-.011719-.027344-.023437-.042969-.03125l-54.378906-43.789062 156.175781-165.949219c5-5.3125 5.453125-13.449219 1.074219-19.285156-4.382813-5.835938-12.324219-7.671875-18.820313-4.351563l-256.867187 131.226563-91.121094-26.070313 433.265625-165.390625c3.660156-1.398437 6.214844-1.691406 7.710938-1.691406.917968 0 2.550781.109375 3.15625.855469.796875.972656 1.8125 4.289062.554687 10.511719zm0 0"/>
      </g>
    </symbol>
  </svg>
</template>

<script>
export default {
  name: "Sprite"
}
</script>

<style scoped>

</style>