<template>
  <div class="user__info" ref="info" id="info">
    <div class="user__info--avatar">
      <img class="user__info--photo" src="@/assets/images/finalFace.png" alt="фото">
    </div>
    <div class="user__info--username">
      <span class="user__info--name">Дмитрий Герасимов</span>
      <span class="user__info--active"></span>
    </div>
    <h4 class="user__info--specialization">Веб разработчик</h4>

    <div class="user__info--info">
      <header class="user_info--circle">
        <svg class="symbol__eyeglasses">
          <use xlink:href="#eyeglasses"></use>
        </svg>
      </header>
      <ul class="user__info--items">
        <li class="user__info--item-first"></li>
        <li class="user__info--item">
          <p>
            <span class="user__info--item-name">Имя:</span>
            Дмитрий
          </p>
        </li>

        <li class="user__info--item">
          <p>
            <span class="user__info--item-name">День рождения:</span>
            06 ноября 2000
          </p>
        </li>

        <li class="user__info--item">
          <p>
            <span class="user__info--item-name">Специальность:</span>
            Веб-разработчик
          </p>
        </li>
        <li class="user__info--item">
          <p>
            <span class="user__info--item-name">Почта:</span>
            <span class="user_subtext">dmitry-dev.front@yandex.ru</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import {mapMutations} from 'vuex'

export default {
  name: "UserInfo",
  data: () => ({
    blockTop: 0,
    blockLeft: 0,
    blockBottom: 0,
    blockWidth: 0,
  }),
  methods: {
    onScroll(event) {
      let info = document.querySelector('#info')
      if (event.target.scrollTop > this.blockTop && window.innerWidth > 968) {
        info.style.position = 'fixed'
        info.style.left = this.blockLeft + 'px'
        info.style.top = 0 + 'px'
        info.style.width = this.blockWidth + 'px'
      } else {
        info.style.position = 'relative'
        info.style.left = 0
        info.style.top = 0
        info.style.width = 100 + '%'
      }
    },
    onResize(event) {
      let info = document.querySelector('#info')
      //window.document.body.scrollTo({top: 0})
      this.$store.commit('onWindowWidth', window.innerWidth)
      this.blockTop = info.getBoundingClientRect().top
      this.blockLeft = info.getBoundingClientRect().left
      this.blockBottom = info.getBoundingClientRect().bottom
      this.blockBottom = info.getBoundingClientRect().bottom
      this.blockWidth = info.getBoundingClientRect().width

      info.style.position = 'relative'
      info.style.left = 0
      info.style.top = 0
      info.style.width = 100 + '%'

    }
  },
  mounted() {
    let info = document.querySelector('#info')
    this.blockTop = info.getBoundingClientRect().top
    this.blockLeft = info.getBoundingClientRect().left
    this.blockBottom = info.getBoundingClientRect().bottom
    this.blockBottom = info.getBoundingClientRect().bottom
    this.blockWidth = info.getBoundingClientRect().width
    console.log(this.blockWidth)
  },
  created() {
    window.document.body.addEventListener('scroll', this.onScroll)
    window.addEventListener('resize', this.onResize)
  },
  destroyed() {
    window.document.body.removeEventListener('scroll', this.onScroll)
  }
}
</script>

<style scoped>

</style>