<template>
  <nav class="portfolio__filters">
    <a href="#" class="portfolio__filter" :class="{'filter__active':activeAll}" v-on:click.prevent="clickAll">Все</a>
    <a href="#" class="portfolio__filter" :class="{'filter__active':activeFrontend}"
       v-on:click.prevent="clickFrontend">Frontend</a>
    <a href="#" class="portfolio__filter" :class="{'filter__active':activeBackend}"
       v-on:click.prevent="clickBackend">Backend</a>
    <a href="#" class="portfolio__filter" :class="{'filter__active':activeParsing}" v-on:click.prevent="clickParsing">Сбор
      данных</a>
  </nav>
</template>

<script>
export default {
  name: "PortfolioFilter",
  data: () => ({
    activeAll: true,
    activeFrontend: false,
    activeBackend: false,
    activeParsing: false,
  }),
  methods: {
    clickAll() {
      this.activeAll = true
      this.activeFrontend = false
      this.activeBackend = false
      this.activeParsing = false
      this.$store.commit('project/filterAll')
    },
    clickFrontend() {
      this.activeAll = false
      this.activeFrontend = true
      this.activeBackend = false
      this.activeParsing = false

      this.$store.commit('project/filterFrontend')
    },
    clickBackend() {
      this.activeAll = false
      this.activeFrontend = false
      this.activeBackend = true
      this.activeParsing = false

      this.$store.commit('project/filterBackend')
    },
    clickParsing() {
      this.activeAll = false
      this.activeFrontend = false
      this.activeBackend = false
      this.activeParsing = true

      this.$store.commit('project/filterParsing')
    }
  }
}
</script>

<style scoped>

</style>