<template>
  <div class="home">
    <section class="home__about">
      <div class="home__about--padding">
        <h3 class="home__title">
          <span class="title__line"></span>
          <span>Портфолио</span>
        </h3>
        <main class="home__body">
          <PortfolioFilter/>
          <PortfolioCards/>
        </main>
      </div>
    </section>
  </div>
</template>

<script>
import PortfolioFilter from "@/components/portfolio/PortfolioFilter";
import PortfolioCards from "@/components/portfolio/PortfolioCards";
import PortfolioModal from "@/components/portfolio/PortfolioModal";

export default {
  name: "PortfolioBlock",
  components: {
    PortfolioCards,
    PortfolioFilter,
    PortfolioModal
  },

}
</script>

<style scoped>

</style>