<template>
  <section class="modal" @click.stop="clickMask" :class="{'mask__active':modalActive}">
    <div class="modal__container">
      <div class="modal__inner" :class="{'active__model':modalActive}">
        <header class="modal__header">

          <div class="modal__header--info">
            <div class="modal__name">{{ card.title }}</div>
            <div class="modal__theme">
              <span v-for="(type,index) in card.types">
                <span>{{ type.name }}</span>
                <span v-if="index !== card.types.length-1">, </span>
              </span>
            </div>
          </div>
          <div class="modal__header--btn">
            <a :href="card.link_repo" target="_blank" class="modal__btn--repository"
               v-show="card.link_repo">Репозиторий</a>
            <a :href="card.link_project" target="_blank" class="modal__btn--project"
               v-show="card.link_project">Перейти в проект</a>
          </div>
        </header>
        <main class="modal__main">
          <div class="modal__main--left">
            <div class="modal__slider--photos">
              <img :src="image.test_img" alt="" class="modal__slider--photo" v-for="image in card.images">
            </div>
          </div>
          <div class="modal__main--right">
            <div class="modal__main--content">
              <h3 class="modal__main--header">Описание</h3>
              <p class="modal__main--text">
                {{ card.description }}
              </p>
            </div>

            <div class="modal__main--content">
              <h3 class="modal__main--header">Технологии</h3>
              <p class="modal__main--text">
                {{ card.technologies }}
              </p>
            </div>

            <div class="modal__main--content">
              <h3 class="modal__main--header">Инструменты</h3>
              <p class="modal__main--text">
                {{ card.tools }}
              </p>
            </div>
          </div>
        </main>
      </div>
    </div>
  </section>
</template>

<script>
import $ from 'jquery'
import 'slick-carousel/slick/slick.css'
import 'slick-carousel'


export default {
  name: "PortfolioModal",
  data: () => ({
    card: {},
    showSlider: false,
    settings: {
      "dots": true,
      lazyLoad: 'ondemand',
      "infinite": false,
      "speed": 500,
      "slidesToShow": 1,
      "slidesToScroll": 1
    }
  }),
  computed: {
    modalActive() {
      return this.$store.getters['modal/activeModal']
    },
  },
  methods: {
    closeModal() {
      this.$store.commit('modal/closeModalWindow')
      this.$router.push('/portfolio')
    },
    clickMask(e) {
      if (e.target.classList.value === 'modal__container' || e.target.classList.value === 'modal mask__active') {
        this.$store.commit('modal/closeModalWindow')
        this.$router.push('/portfolio')
      }
    }
  },
  created() {
    this.card = this.$store.getters['modal/card']
    if (this.card === "") {
      this.$store.commit('modal/closeModalWindow')
      this.$router.push('/portfolio')
    }
    this.showSlider = true
  },
  mounted() {
    $('.modal__slider--photos').slick({
      infinite: true,
      speed: 800,
      dots: true,
      arrows: false,
      slidesToShow: 1,
      slidesToScroll: 1,
    })


  }
}
</script>

<style lang="scss">
</style>