<template>
  <div class="portfolio__cards">
    <transition-group name="fade">
      <a href="#" class="portfolio__card" @click="clickItem(card)" :key="card" v-for="card in viewProjects"
         v-show="card.show">
        <div class="bg__scale">
          <img :src="card.images[0].test_img" class="portfolio__card--photo" alt="">
        </div>

        <div class="portfolio__card-inner">
          <div class="project__name">{{ card.title }}</div>
          <div class="project__theme">{{ card.theme }}</div>
        </div>
      </a>
    </transition-group>
  </div>
  <!--  <div class="load__more">-->
  <!--    <button type="button" class="load__btn">Показать ещё(3)</button>-->
  <!--  </div>-->
</template>

<script>
export default {
  name: "PortfolioCards",
  data: () => ({}),
  computed: {
    viewProjects() {
      return this.$store.getters['project/projects']
    }
  },
  methods: {
    clickItem(card) {
      this.$store.commit('modal/openModalWindow', card)
      this.$router.push(`/portfolio/${card.id}`)
    }
  },
  mounted() {
    this.$store.dispatch('project/mountProjects')
  }
}
</script>

<style scoped>

</style>