<template>
  <Sprite/>
  <Preloader/>
  <main class="main">
    <div class="container">
      <div class="main__inner">
        <div class="main__user--info">
          <UserInfo/>
        </div>
        <div class="main__main">
          <Nav/>
          <!--          Home components-->
          <ContactBlock/>
          <Footer/>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import UserInfo from "@/components/shared/UserInfo";
import Nav from "@/components/shared/Nav";
import Footer from "@/components/shared/Footer";
import Sprite from "@/components/shared/Sprite";
import Preloader from "@/components/shared/Preloader";
import ContactBlock from "@/components/contact/ContactBlock";

export default {
  name: "Contact",
  components: {
    UserInfo,
    Nav,
    Footer,
    Sprite,
    Preloader,
    ContactBlock
  },
  mounted() {
  }
}
</script>

<style scoped>

</style>