<template>
  <Sprite/>
  <Preloader/>
  <main class="main">
    <div class="container">
      <div class="main__inner">
        <div class="main__user--info">
          <UserInfo/>
        </div>
        <div class="main__main">
          <Nav/>
          <!--          Home components-->
          <HomeBlock/>
          <Footer/>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
// @ is an alias to /src
import Footer from "@/components/shared/Footer";
import Nav from "@/components/shared/Nav";
import UserInfo from "@/components/shared/UserInfo";
import Sprite from "@/components/shared/Sprite";
import HomeBlock from "@/components/home/HomeBlock";
import Preloader from "@/components/shared/Preloader";

export default {
  name: "Home",
  components: {
    UserInfo,
    Nav,
    Footer,
    Sprite,
    HomeBlock,
    Preloader,
  },
  methods: {},
  mounted() {
    if (Boolean(this.$store.state.showPreloader)) {
      this.$store.commit('showToggle')
    }
  }
};
</script>
