<template>
  <div class="home">
    <section class="home__about">
      <div class="home__about--padding">
        <h3 class="home__title">
          <span class="title__line"></span>
          <span>Обо мне</span>
        </h3>
        <main class="home__body">
          <p class="home__about--text">
            Уже больше года занимаюсь разработкой web приложений, и в целом основными направлениями в программировании,
            такими как парсеры данных, frontend, backend.
            Во время выполнения работы соблюдаю три главных правила:
            <br>
            1) всегда нахожусь на связи
            <br>
            2) в работе слежу за качеством не только визуальным, но и техническим(codestyle)
            <br>
            3) соблюдаю сроки, выставленные заказчиком
          </p>
          <p class="home__about--text">
            Люблю узнавать и изучать новые направления по своей специальности, а также участвовать в интересных,
            необычных
            проектах. Опыт работы в команде имеется.
          </p>
        </main>
      </div>
    </section>

    <section class="home__about bg__grey">
      <div class="home__about--padding">
        <h3 class="home__title">
          <span class="title__line"></span>
          <span>Мои услуги</span>
        </h3>
        <main class="home__body-items">
          <div class="home__body--item">
            <svg class="symbol__frontend">
              <use xlink:href="#frontend"></use>
            </svg>
            <h4 class="home__body--title">Frontend</h4>
            <p class="home__body--text">Опыт больше года.
              Основные технологии: Vue,WebSockets,
              JavaScript(ES6)</p>
          </div>

          <div class="home__body--item">
            <svg class="symbol__frontend">
              <use xlink:href="#data"></use>
            </svg>
            <h4 class="home__body--title">Сбор данных</h4>
            <p class="home__body--text">Опыт больше года.
              Основные технологии:
              Python3, Selenium</p>
          </div>

          <div class="home__body--item">
            <svg class="symbol__frontend">
              <use xlink:href="#backend"></use>
            </svg>
            <h4 class="home__body--title">Backend</h4>
            <p class="home__body--text">Опыт больше года.
              Опыт больше года.
              Основные технологии:
              Python3, Django</p>
          </div>
          <div class="home__body--item">
            <svg class="symbol__frontend">
              <use xlink:href="#database"></use>
            </svg>
            <h4 class="home__body--title">Базы данных</h4>
            <p class="home__body--text">Базы данных, с которыми работаю:
              MySql/Postgres</p>
          </div>
        </main>
      </div>

    </section>

    <section class="home__about">
      <div class="home__about--padding">
        <h3 class="home__title">
          <span class="title__line"></span>
          <span>Технологии</span>
        </h3>
        <main class="home__body">
          <div class="home__body--circle">
            <svg class="symbol__tech">
              <use xlink:href="#tech"></use>
            </svg>
          </div>
          <ul class="tech__info--items">
            <li class="tech__info--first"></li>
            <li class="tech__info">
              <h3 class="tech__info--title">Frontend</h3>
              <p>
                <span class="user__info--item-name">Языки:</span>
                Html 5,Css 3,Less,Sass/Scss, JavaScript(ES6)
              </p>
              <p>
                <span class="user__info--item-name">Библиотеки/ Фреймворки:</span>
                VueJs,Vuex, WebSockets, Jquery
              </p>

              <p>
                <span class="user__info--item-name">Сборки:</span>
                webpack, gulp
              </p>
            </li>

            <li class="tech__info">
              <h3 class="tech__info--title">Backend</h3>
              <p>
                <span class="user__info--item-name">Языки:</span>
                Python3
              </p>
              <p>
                <span class="user__info--item-name">Библиотеки/ Фреймворки:</span>
                Django, DjangoRestFramework
              </p>

              <p>
                <span class="user__info--item-name">Базы данных:</span>
                mysql, postgres
              </p>
            </li>

            <li class="tech__info">
              <h3 class="tech__info--title">Сбор данных</h3>
              <p>
                <span class="user__info--item-name">Технологии:</span>
                Python3, Selenium, BeautifulSoup4
              </p>
            </li>

            <li class="tech__info">
              <h3 class="tech__info--title">Инструменты</h3>
              <p>
                Git,Gitlab,Bitbucket,Intellij IDEA, Docker, Figma,Photoshop
              </p>
            </li>

          </ul>
        </main>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Home"
}
</script>

<style scoped>

</style>