<template>
  <div class="home">
    <section class="home__about">
      <div class="home__about--padding">
        <h3 class="home__title">
          <span class="title__line"></span>
          <span>Контакты</span>
        </h3>
        <main class="home__body-items contact__justify">
          <div class="contact__body--item">
            <svg class="symbol__frontend">
              <use xlink:href="#email"></use>
            </svg>
            <h4 class="home__body--title">Email</h4>
            <p class="home__body--text">
              <a href="mailto:dmitry.itis.gerasimov@gmail.com" class="contact__email">dmitry-dev.front@yandex.ru</a>
              </p>
          </div>

          <div class="contact__body--item">
            <svg class="symbol__frontend">
              <use xlink:href="#telegram_contact"></use>
            </svg>
            <h4 class="home__body--title">Telegram</h4>
            <p class="home__body--text">
              <a href="https://t.me/dmitrymoonchop" class="contact__email" target="_blank">@dmitrymoonchop</a>
            </p>
          </div>
        </main>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "ContactBlock"
}
</script>

<style scoped>

</style>