*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  color: black;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: url("./assets/images/bg_rr.png") #fafafa;
  overflow-x: hidden;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1440px) {
    max-width: 1170px;
  }
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 30px 0;
}


.main__inner {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;

  @media (max-width: 968px) {
    justify-content: center;
    flex-direction: column;
  }
}

.main__user--info {
  width: 28%;
  height: 100%;
  position: relative;

  @media (max-width: 968px) {
    width: 100%;
  }
}

.main__main {
  width: 70%;
  height: 100%;

  @media (max-width: 968px) {
    width: 100%;
    margin-top: 40px;
  }
}

#app {
  width: 100%;
}

@import "blocks/preloader";
@import "blocks/user_info";
@import "blocks/nav";
//home
@import "blocks/home";

//portfolio
@import "blocks/portfolio_nav";
@import "blocks/portfolio_card";
@import "blocks/modal";
@import "blocks/contact";

@import "blocks/footer";
@import "blocks/symbols";

