.footer {
  width: 100%;
  background: #1e1e1e;
  min-height: 70px;
  color: #fff;
  margin: 30px 0;
  border-radius: 8px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__author{
  color: #fff;
  font-size: 15px;
}

.footer__copyright{
  color: #9c9c9c;
  font-size: 12px;
}