.modal {
  width: 100%;
  position: fixed;
  height: 100%;
  max-height: 100vh;
  top: 0;
  left: 0;
  background: rgba(38, 37, 37, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  visibility: hidden;

  transition: visibility 0.4s linear;
}

.mask__active {
  visibility: visible;
}

.modal__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__inner {
  width: 100%;
  max-width: 828px;
  background: white;
  border-radius: 8px;
  height: 80%;
  overflow: auto;
  max-height: none;
  -webkit-box-shadow: 0px 0px 20px 13px rgba(255, 232, 145, 0.2);
  -moz-box-shadow: 0px 0px 20px 13px rgba(255, 232, 145, 0.2);
  box-shadow: 0px 0px 20px 13px rgba(255, 232, 145, 0.2);

  transform: translateY(-200%);
  z-index: 100;

  transition: transform 0.3s linear;
}


.modal__inner::-webkit-scrollbar {
  width: 8px;
}

.modal__inner::-webkit-scrollbar-thumb {

  border-radius: 6px;
  background: #ffe891;
}

.modal__inner::-webkit-scrollbar-track {
  background: white;
  width: 8px;

  border-radius: 0 0 8px 8px;
}

.active__model {
  transform: translateY(0%);
}

.modal__header {
  width: 100%;
  padding: 30px 25px;
  border-bottom: 2px solid #FFC500;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  @media (max-width: 778px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 440px) {
    padding: 25px 20px;
  }
}

.modal__header--info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: 778px) {
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
  }

}

.modal__name {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-bottom: 4px;
}

.modal__theme {
  font-size: 14px;
  color: #989898;
  font-weight: 500;

}


.modal__header--btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 778px) {
    width: 100%;
    justify-content: center;
  }
  @media (max-width: 424px) {
    flex-direction: column;
  }
}

.modal__btn--repository {
  padding: 8px 30px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background: #1c1919;
  border-radius: 6px;

  margin-right: 15px;

  &:hover {
    text-decoration: none;
    color: white;
  }

  @media (max-width: 440px) {
    padding: 8px 25px;
  }

  @media (max-width: 424px) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.modal__btn--project {
  padding: 8px 15px;
  cursor: pointer;
  text-decoration: none;
  color: #1c1919;
  font-size: 16px;
  background: white;
  border-radius: 6px;

  border: 1px solid #1c1919;

  &:hover {
    text-decoration: none;
    color: #1c1919;
  }

  @media (max-width: 440px) {
    padding: 8px 10px;
  }
}

.close__modal {
  position: absolute;
  top: -22px;
  right: -22px;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  @media (max-width: 878px) {
    display: none;
  }
}

.symbol__close {
  width: 11px;
  height: 11px;
}

.modal__main {
  width: 100%;
  max-width: 828px;
  flex-direction: column;
  align-items: center;
  height: auto;
  display: flex;
  padding: 25px 25px;

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}


.modal__main--left {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: 640px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.modal__slider--photos {
  width: 80%;

  @media (max-width: 640px) {
    width: 80%;
  }

  @media (max-width: 450px) {
    width: 100%;
  }

  @media (max-width: 384px) {
    width: 80%;
  }
}

.modal__slider--photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.modal__main--right {
  width: 100%;
  max-width: 580px;

  @media (max-width: 640px) {
    width: 100%;
    max-width: 100%;
  }
}

.slick-dots {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }
}

.slick-dots li button {
  width: 13px;
  height: 13px;
  font-size: 0;
  background: white;
  border-radius: 50%;
  border: 1px solid #ffc500;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background: #ffc500;
}

.modal__main--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 35px;

  @media (max-width: 640px) {
    margin-top: 25px;
  }
}

.modal__main--header {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: center;

  @media (max-width: 640px) {
    text-align: center;
    margin-bottom: 6px;
  }
}

.modal__main--text {
  font-size: 15px;
  color: #5E5D5D;
  text-align: left;

  @media (max-width: 640px) {
    text-align: center;
  }
}