.nav__block {
  width: 100%;
  height: 70px;
  background: white;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  position: relative;

  @media (max-width: 628px) {
    justify-content: space-between;
    padding-right: 0;
  }
}

.nav__home {
  width: 85px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffb100;

  border-radius: 6px 0px 0 6px;

  @media (max-width: 628px) {
    width: 75px;
  }
}

.nav {
  width: calc(100% - 85px);
  height: 100%;
  display: flex;
  align-items: center;

  @media (max-width: 628px) {
    width: calc(100% - 75px);
  }
}

.nav__link {
  font-size: 15px;
  color: black;
  font-weight: 500;
  margin-left: 15px;
  text-decoration: none;
  transition: color 0.3s linear;

  &:hover {
    text-decoration: none;
    color: #ffc500;
  }
}

.nav__telegram {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
  padding: 4px 6px 4px 19px;
  height: 40px;
  background: #FFC500;
  align-items: center;
  transition: background 0.3s linear;

  &:hover {
    text-decoration: none;
    color: black;
    background: darken(#FFC500, 0.5);
  }
}

.nav__telegram-text {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  color: black;
  font-weight: 500;
}

.nav__telegram-circle {
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
}

.nav__menu {
  width: 75px;
  height: 75px;
  border-left: solid 1px #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.nav_mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  background: white;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.05);
  margin-top: 25px;
  border-radius: 8px;
  z-index: 10;
}

.active__menu {
  visibility: visible;
}

.nav__mobile-link {
  width: 100%;
  border-bottom: solid 1px #efefef;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  padding: 15px 10px;
  border-radius: 8px 8px 0 0;

  text-decoration: none;
  transition: color 0.3s linear;

  &:hover {
    text-decoration: none;
    color: #ffc500

  }
}

.notext-decoration {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.active__nav {
  color: #ffc500;
}