.symbol__eyeglasses {
  width: 25px;
  height: 25px;
  fill: black;
}

.symbol__home {
  width: 25px;
  height: 25px;

  @media (max-width: 628px) {
    width: 22px;
    height: 22px;
  }
}

.symbol__telegram {
  width: 12px;
  height: 12px;
}

.symbol__frontend {
  width: 45px;
  height: 45px;

  margin-bottom: 10px;
}

.symbol__tech {
  width: 25px;
  height: 25px;
  fill: black;
}

.symbol__menu {
  width: 22px;
  height: 22px;
}