.user__info {
  padding: 30px 15px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 92px 0 rgba(0, 0, 0, 0.07);
  position: relative;
}

.user__info--avatar {
  width: 100%;
  margin-bottom: 20px;
  height: 95px;

  @media (max-width: 968px) {
    display: flex;
    justify-content: center;
  }
}

.user__info--photo {
  width: 105px;
  height: 105px;
  border-radius: 50%;
}

.user__info--username {
  width: 100%;
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  @media (max-width: 968px) {
    display: flex;
    justify-content: center;
  }
}

.user__info--name {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.user__info--active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
  background: #FFB100;
}

.user__info--specialization {
  color: #777;
  font-size: 16px;
  font-weight: 500;

  @media (max-width: 968px) {
    display: flex;
    justify-content: center;
  }
}

.user__info--info {
  width: 100%;
}

.user_info--circle {
  margin-top: 35px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #FFC500;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 32px 0 rgba(4, 123, 248, 0.3);
  @media (max-width: 968px) {
    display: none;
  }
}

.user__info--items {
  list-style: none;

  @media (max-width: 968px) {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  @media (max-width: 628px) {
    flex-wrap: wrap;
  }
}

.user__info--item-first {
  border-left: solid 2px #eee;
  padding: 0 0 23px 20px;
  margin-left: 20px;

  @media (max-width: 968px) {
    display: none;
  }
}

.user__info--item {
  border-left: solid 2px #eee;
  padding: 0 0 23px 20px;
  margin-left: 20px;
  font-size: 14px;
  color: #787878;
  position: relative;

  &:before {
    content: "";
    width: 8px;
    height: 8px;
    font-size: 8px;
    margin-left: -25px;
    margin-top: 2px;
    font-weight: 400;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #ffb100;
  }

  &:last-child {
    border-left: none;

    @media (max-width: 968px) {
      border-left: solid 2px #eee;
    }
  }

  @media (max-width: 628px) {
    width: 45%;
  }
}

.user__info--item-name {
  color: black;
}

.user_subtext{
  word-break: break-word;
}